<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" />
    <title>My Website - About</title>
</head>
<body>
    <div class="about-css">
        <h1> ✨Tamarica Shaw ✨</h1>
        <p>Hello and welcome to my website 🌠!! I am a Computer Science student who is an aspiring 
            cybersecurity professional. As a student, I have worked on a lot of projects. Some of these 
            projects include web development projects. I hope you enjoy your time here and until next time.
        </p>
        <img src="{{ url_for('static', filename='website-image.png') }}" alt="woman illustration">
    </div>
</body>
   
    
</html>